<%# Title %>
<% if(title) { %>
<h1>
<%= title %>
</h1>
<% } else { res.redirect('/') } %>
<%# Message %>
<%- message %>
<%# Body %>
<h2>Welcome <%- name %></h2>
<% if(type=="Employee" || type=="Admin" ) { %>
<h3><a href="/inv/management">Inventory Management</a></h3>
<% } %>
<h3><a href="/account/edit-account">Edit Account Information</a></h3>