<!--
Content Heading
-->
<% if (title) { %>
<h1>
<%= title %>
</h1>
<% } else { res.redirect('/') } %>

<%- message %>
<%- grid %>
<div class="management-view">
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list below to view the items that belong to it.</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>